@import url(feedly/claro-mod.min.css);

@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-regular-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'SansCn';
    src: local('HelveticaNeue-CondensedBold'),
         local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-italic-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-italic-webfont.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-bolditalic-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* FROM TT-RSS.CSS ************************************************************/

/* @66 */
div.articleNote {
	background-color : #fff7d5;
	padding : 5px;
	border-radius : 4px;
	margin : 5px;
	border-style : solid;
	border-color : #e7d796;
	border-width : 1px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
	background-color : #fff7d5;
	color : #9a8c59;
}

div.articleNote div.noteEdit {
	float : right;
	cursor : pointer;
}

/* @129 */
#notify {
	bottom : 10px;
	right : 20px;
	border-width : 1px;
	border-style : solid;
	position : absolute;
	font-size : 12px;
	z-index : 99;
	max-width : 200px;
	min-width : 100px;
	padding : 5px;
	-width : 200px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

#notify img {
	vertical-align : middle;
	max-height : 14px;
}

#notify span.msg {
	width : 100%;
}

#notify span.close {
	text-align : right;
}

#notify span {
	display : table-cell;
	vertical-align : middle;
	padding : 4px;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.progress {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.info {
	border-color : #88b0f0;
	background-color : #ecf4ff;
}

.notify.error {
	background-color : #ffcccc;
	border-color : #ff0000;
}

/* @227 */
div.filterTestHolder {
	height : 300px;
	overflow : auto;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
	border-width : 1px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

/* @270 */
div.notice, div.warning, div.error {
	padding : 4px 10px 4px 4px;
	display : inline-block;
	margin : 2px 0px 4px 0px;
	font-size : 12px;
	border-style : solid;
	border-color : #ccc;
	border-radius : 4px;
	border-width : 1px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

div.notice div.inner, div.warning div.inner, div.error div.inner {
	vertical-align : middle;
}

div.notice {
	background : #ecf4ff;
	border-color : #88b0f0;
}

div.warning {
	background : #fff7d5;
	border-color : #e7d796;;
}

div.error {
	background : #ffcccc;
	border-color : #ff0000;
}

div.warning img, div.notice img, div.error img {
	margin : 4px;
	vertical-align : middle;
}

div.warning span, div.notice span, div.error span {
	display : table-cell;
	vertical-align : middle;
}

ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px;
}

/* @423 */
img.markedPic, img.pubPic {
	cursor : pointer;
	vertical-align : middle;
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

div.errorExplained {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.feedErrorsList em {
	color : #555;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;

}

ul.browseFeedList li {
	margin : 0px;
	padding : 2px 4px 2px 4px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

.noborder {
	border-width : 0px;
}

/* @624 */
div.dlgSec {
	font-size : 12px;
	color : #555;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}

div.dlgSecCont hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}

div.dlgSecCont > * {
	position : relative;
	top : -2px;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

/* @747 */
div.fatalError {
	margin-bottom : 10px;
}

div.fatalError button {
	margin-top : 5px;
}

div.fatalError textarea {
	width : 100%;
	height : 100px;
}

/* @899 */
.dijitDialog .dijitToolbar {
	border : 1px solid #c0c0c0;
}

/* @940 */
ul#filterDlg_Matches, ul#filterDlg_Actions {
	max-height : 100px;
	overflow : auto;
	list-style-type : none;
	border-style : solid;
  	border-color : #c0c0c0;
	border-width : 0px 1px 1px 1px;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 0px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul#filterDlg_Matches li, ul#filterDlg_Actions li {
	cursor : pointer;
	padding : 0px 0px 0px 5px;
}

ul#filterDlg_Matches li div.dijitCheckBox, ul#filterDlg_Actions li div.dijitCheckBox {
	margin-right : 5px;
}

ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	border-radius : 4px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}

ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}

ul.helpKbList h2 {
	margin-top : 0px;
}

/* @1029 */
select.attachments {
	display : block;
	margin-top : 10px;
	max-width : 120px;
}


/* RESET ************************************************************/

html, button, input, select, textarea {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
:focus {
	outline: none;
}
input[type="search"] {
	-webkit-appearance: none;
}
textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.claro .dijitBorderContainer,
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
	padding: 0;
}
img,
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child {
	border: 0;
}


/* BASE LAYOUT ************************************************************/

#ttrssMain,
#ttrssPrefs {
	overflow: hidden;
}
#main {
	width: auto;
}
#main-toolbar {
	display: table;
	width: 100%;
}
#main_toolbar_form,
.actionChooser {
	display: table-cell;
	white-space: nowrap;
}
.actionChooser {
	text-align: right;
}
#headlines-toolbar_splitter,
#toolbar_splitter {
	display: none;
}
img.feedIcon,
img.tinyFeedIcon  {
	width: 16px;
	height: 16px;
}


/* SKINNING ************************************************************/

html {
	color: #444;
}
a {
	color: #5b4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.claro .dlgButtons .dijitButton .dijitButtonNode,
.claro .dijitDialog [align] .dijitButton .dijitButtonNode {
	padding: 4px 6px 5px;
	font-weight: bold;
}


/* STYLING ************************************************************/

#toolbar,
.dijitBorderContainer,
.dijitBorderContainerNoGutter {
	overflow: visible;
}
#ttrssMain #main {
	padding: 0 30px;
}
#main-toolbar {
	padding: 4px 0 5px;
	border: 0;
}
/* status icons */
#main-toolbar .actionChooser > .dijitButton .dijitButtonNode {
	padding: 0;
}
#main,
#feeds-holder,
#main-toolbar,
#main #headlines-wrap-inner .dijitSplitter {
	background: #eee;
}
#main .dijitSplitterHover,
#main .dijitSplitterActive {
	background: transparent;
}
#main .dijitSplitterThumb {
	display: none;
}

#main #content-wrap .dijitSelect,
#main #content-wrap .dijitButtonContents,
#main #content-wrap .dijitButtonNode,
#main #content-wrap .dijitArrowButton {
	border-color: transparent;
	background-color: transparent;
	color: #999;
	box-shadow: none;
	transition: color .2s;
}
#main #content-wrap .dijitSelectHover .dijitButtonContents,
#main #content-wrap .dijitDropDownButtonHover .dijitButtonContents,
#main #content-wrap .dijitComboButton .dijitButtonContents:hover,
#main #content-wrap .dijitOpened .dijitButtonContents {
	color: #444;
}
#main #content-wrap .dijitComboButton .dijitArrowButton {
	border-left: none;
}
#main #content-wrap .dijitComboButton .dijitButtonText {
	padding: 0;
}
#main_toolbar_form > * {
	margin-right: 5px;
}

#overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
}
#overlay:before {
	content: "";
	height: 90%;
}
#overlay:before,
#overlay_inner {
	display: inline-block;
	vertical-align: middle;
}
#overlay_inner .insensitive {
	margin: 0 0 20px;
}
#overlay_inner .dijitProgressBar {
	margin: -10px 0;
	border: 1px solid #d8d8d8;
}
#overlay_inner .dijitProgressBarFull {
	border: 0;
}
#overlay_inner .dijitProgressBarTile {
	background: #e5e5e5;
}
#overlay_inner .dijitProgressBarLabel {
	color: #444;
	font-weight: bold;
}
.labelColorIndicator,
.labelColorIndicator2,
.hlLabelRef {
	display: inline-block;
	border-radius: 99px;
	background-color: #fec;
	color: #444;
	font-weight: bold;
}
.labelColorIndicator,
.labelColorIndicator2 {
	width: 13px;
	height: 13px;
	border: 1px solid rgba(0,0,0,.1);
	font-size: 10px;
	line-height: 1;
	text-align: center;
}
.hlLabelRef {
	margin-right: 5px;
	border: 1px solid rgba(0,0,0,.06);
	padding: 0 4px;
	font-size: 9px;
	line-height: 1;
}
.author:not(:empty) + span .hlLabelRef:first-child {
	margin-left: 5px;
}

/* feed tree */
#ttrssMain #main_toolbar_form > .dijitButton {
	display: block !important;
}
#ttrssMain #main_toolbar_form > .dijitButton .dijitButtonNode {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30px;
	padding: 0;
	border-radius: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	transition: background .5s;
}
#ttrssMain #main_toolbar_form > .dijitButton .dijitButtonContents {
	position: absolute;
	top: 51px;
	left: 8px;
	padding: 0;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: 101%;
	background: transparent url("feedly/icons.png") 0 -16px no-repeat;
	background-size: 176px 32px;
	opacity: .2;
	transition: opacity .2s;
}
#ttrssMain #main_toolbar_form > .dijitButton:hover .dijitButtonNode {
	background: rgba(0,0,0,.05);
}
#ttrssMain #main_toolbar_form > .dijitButton:hover .dijitButtonContents {
	opacity: .7;
}
#feeds-holder #feedTree {
	padding: 46px 5px 30px 0;
}
#feeds-holder .dijitTreeRow {
	padding: 4px 0 3px;
	border: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	background: transparent;
	color: #666;
	transition: color .2s;
}
#feeds-holder .dijitTreeRow,
#feeds-holder .dijitTreeRow * {
	cursor: pointer;
}
#feeds-holder .dijitTreeRow:hover,
#feeds-holder .dijitTreeRowSelected {
	color: #000;
	transition: none;
}
#feeds-holder .dijitTreeRowSelected {
	background: rgba(0,0,0,.05);
}
#feeds-holder .dijitTreeLabel.Unread {
	font-weight: bold;
}
#feeds-holder .dijitTreeRow.Error,
#errorButton {
	color: #e44;
}
#feeds-holder .dijitTreeRow.Hidden {
	display: none;
}
#feeds-holder img.feedIcon,
#feeds-holder .labelColorIndicator {
	vertical-align: middle;
	position: relative;
	top: -1px;
	left: -5px;
}
#feeds-holder .counterNode {
	float: right;
	padding: 1px 10px 0 5px;
	font-size: 10px;
}
#feeds-holder .dijitTreeRow .counterNode.aux {
	color: #aaa;
}
#feeds-holder .dijitTreeRow .dijitTreeExpando {
	margin: -1px 0 1px 5px;
	background-image: url("feedly/icons.png");
	background-size: 176px 32px;
	opacity: .2;
	transition: opacity .2s;
}
#feeds-holder .dijitTreeRowSelected img[src*=images],
#feeds-holder .dijitTreeRow:hover img[src*=images] {
	opacity: .3;
	transition: none;
}
#feeds-holder .dijitTreeRowSelected .dijitTreeExpando,
#feeds-holder .dijitTreeRow:hover .dijitTreeExpando {
	opacity: .35;
	transition: none;
}
#feeds-holder .dijitTreeRow .dijitTreeExpando:hover {
	opacity: .7;
}
#feeds-holder .dijitTreeExpandoClosed {
	background-position: 0 0;
}
#feeds-holder .dijitTreeExpandoOpened {
	background-position: -16px 0;
}
#feeds-holder .dijitFolderClosed,
#feeds-holder .dijitFolderOpened,
#feeds-holder .dijitTreeExpandoLeaf {
	display: none;
}
#feeds-holder .dijitTreeExpandoLeaf[src*=indicator] ~ .dijitTreeContent:after  {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 11px;
	background: transparent url("../images/indicator_tiny.gif") 0 0 no-repeat;
}
#feeds-holder[style*=none] ~ .dijitSplitter {
	display: none;
}

/* main */
#headlines-wrap-inner {
	background: #fff;
}
#headlines-toolbar {
	z-index: 3;
	overflow: visible;
	padding: 20px 30px 0;
	min-height: 25px;
	text-align: right;
	color: #fff;
	cursor: default;
}
#headlines-toolbar:after {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 25px;
	left: 25px;
	border-top: 1px solid #ccc;
}
#headlines-toolbar > a {
	text-decoration: none;
	color: #999;
	margin-left: 8px;
	transition: color .2s;
}
#headlines-toolbar > a:hover {
	color: #444;
}
#headlines-toolbar .dijitSelect {
	margin: -2px 0 0 10px;
}
#headlines-toolbar > .r {
	float: left;
	white-space: nowrap;
	color: #999;
}
#headlines-toolbar > .r img {
	position: relative;
	top: -3px;
	left: 2px;
}
#floatingTitle .title,
.postHeader .postTitle a {
	font-size: 13px;
	font-weight: bold;
}
#feed_title,
#feed_title a {
	color: #444;
	font: normal normal bold 18px/14px SansCn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
#selected_prompt {
	float: right;
	position: relative;
	left: 10px;
}
#headlines-frame {
	z-index: 4;
	padding: 0 24px;
	background: transparent;
}
#headlines-frame:before {
	content: "";
	display: block;
	border-top: 25px solid #fff;
	margin: 0 -24px;
}
#headlines-spacer {
	position: relative;
	height: 100%;
}
#headlines-spacer:after {
	content: "The End";
	position: absolute;
	bottom: 0;
	right: -24px;
	left: -24px;
	padding: 50px;
	background: #ddd;
	color: #999;
	text-shadow: 0 1px 1px #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;

}
.whiteBox + #headlines-spacer {
	display: none;
}

/* articles - collapsed, floating title */
#floatingTitle {
	position: absolute;
	z-index: 5;
	top: 40px;
	right: 24px;
	left: 24px;
	padding: 0 1px;
	background: #fff;
	display: block !important;
}
#floatingTitle .title {
	color: inherit;
}
#floatingTitle .title:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 1px;
	right: 1px;
	border-bottom: 1px solid #ccc;
}
.cdm.expandable,
.hl {
	border: 1px solid transparent;
	border-top-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	margin-bottom: -1px;
}
#floatingTitle,
.cdm.expandable:not(.active) .cdmHeader,
.hl {
	/* old flexbox: */
	display: -moz-box !important;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	-moz-box-align: start;
	-webkit-box-align: start;
	-ms-flex-align: flex-start;
	/* new flexbox: */
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.cdm.expandable:not(.active) .cdmHeader:hover,
.hl:hover,
.collapseBtn:hover {
	background: #f5f5f5;
	cursor: pointer;
}
#floatingTitle > *,
.cdm.expandable:not(.active) .cdmHeader > *,
.hl > * {
	padding: 7px 5px;
	/* old flexbox: */
	display: block;
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	/* new flexbox: */
	-webkit-order: 3;
	order: 3;
}
#floatingTitle > :first-child,
.cdm.expandable:not(.active) .cdmHeader > :first-child,
.hl > .hlLeft {
	/* old flexbox: */
	-moz-box-ordinal-group: 4;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	/* new flexbox: */
	-webkit-order: 4;
	order: 4;
}
#floatingTitle > .scoreWrap,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap,
.hl > .hlRight {
	/* old flexbox: */
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	/* new flexbox: */
	-webkit-order: 1;
	order: 1;
}
#floatingTitle > .titleWrap,
.cdm.expandable:not(.active) .cdmHeader > .titleWrap,
.hl > .hlTitle {
	/* old flexbox: */
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 99;
	/* new flexbox: */
	-webkit-flex: 99;
	flex: 99;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed {
	width: 132px;
	/* old flexbox: */
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	/* new flexbox: */
	-webkit-order: 2;
	order: 2;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed a {
	max-width: 115px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#floatingTitle .rchk,
#floatingTitle .hlFeed,
#floatingTitle .author,
#floatingTitle .hlLabelRef,
#floatingTitle .titleWrap span,
.cdm > hr,
.cdm.expandable.active .rchk,
.cdm.expanded .rchk,
.hl .hlUpdated .hlFeed {
	display: none !important;
}
#floatingTitle > :first-child,
#floatingTitle > .scoreWrap,
.cdm.expandable:not(.active) .cdmHeader > :first-child,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap,
.hl > .hlLeft,
.hl > .hlRight {
	padding-left: 0;
	padding-right: 0;
	word-spacing: -.31em;
	line-height: 1;
}
#floatingTitle > :first-child > *,
#floatingTitle > .scoreWrap > *,
.cdm .cdmHeader > :first-child > *,
.cdm .cdmHeader > .scoreWrap > *,
.hl > .hlLeft > *,
.hl > .hlRight > * {
	display: none;
	float: right;
	margin: 0 9px 0 0;
}
#floatingTitle > :first-child > *,
#floatingTitle > .scoreWrap > *,
.cdm.expanded .cdmHeader > :first-child > *,
.cdm.expanded .cdmHeader > .scoreWrap > *,
.cdm.expandable.active .cdmHeader > :first-child > *,
.cdm.expandable.active .cdmHeader > .scoreWrap > *,
.cdm.expandable:not(.active) .cdmHeader:hover > :first-child > *,
.cdm.expandable:not(.active) .cdmHeader:hover > .scoreWrap > *,
.hl:hover > .hlLeft > *,
.hl:hover > .hlRight > * {
	display: block;
}
#floatingTitle > :first-child > .pubPic,
.cdm.expandable:not(.active) .cdmHeader:hover > :first-child > .pubPic,
.hl:hover > .hlLeft > .pubPic {
	margin-left: 35px;
}
#floatingTitle > .scoreWrap > .hlScorePic,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap > .hlScorePic,
.hl > .hlRight > .hlScorePic {
	position: absolute;
	right: 76px;
}
#floatingTitle > .scoreWrap > span,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap > span,
.hl > .hlRight > span {
	display: block;
	margin-right: 2px;
}
.cdm.expandable.marked:not(.active) .cdmHeader,
.hl.marked {
	background: #e8f8e5;
}
.cdm.expandable.published:not(.active) .cdmHeader,
.hl.published {
	background: #ffecda;
}
.cdm.expandable.Selected:not(.active) .cdmHeader,
.hl.Selected {
	background: #fcf8d5;
}

/* single-line previews */
#floatingTitle .titleWrap,
.cdm.expandable:not(.active) .titleWrap,
.hlTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* articles - expanded */
.cdm.expandable.active,
.cdm.expanded {
	border: 1px solid rgba(0,0,0,.066);
	margin-bottom: 17px;
}
.cdm.expandable.active .cdmHeader,
.cdm.expanded .cdmHeader {
	padding: 54px 34px 0;
}
.cdmFooter {
	clear: both;
	padding: 0 34px 30px;
}
.cdm.expandable.active .cdmHeader .titleWrap,
.cdm.expanded .cdmHeader > .titleWrap {
	padding: 0;
}
.cdm.expandable.active .title,
.cdm.expanded .title {
	font: normal normal bold 24px/28px SansCn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.cdm.expandable.active .title:after,
.cdm.expanded .title:after {
	content: " ";
	display: table;
	clear: both;
	margin-top: 5px;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated,
.cdm.expandable.active .cdmHeader .scoreWrap > *,
.cdm.expanded .cdmHeader > :first-child,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .scoreWrap > * {
	position: absolute;
	top: 34px;
}
.cdm.expandable.active .cdmHeader .scoreWrap > span,
.cdm.expanded .cdmHeader .scoreWrap > span {
	left: 29px;
}
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .hlFeed {
	left: 57px;
}
.cdm.expandable.active .cdmHeader .updated,
.cdm.expanded .cdmHeader .updated {
	right: 115px;
}
.cdm.expandable.active .cdmHeader .scoreWrap > .hlScorePic,
.cdm.expanded .cdmHeader .scoreWrap > .hlScorePic {
	right: 75px;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expanded .cdmHeader > :first-child {
	right: 25px;
}

/* articles - common */
div.articleNote {
	margin: 5px 34px;
	border-radius: 0;
}
#headlines-frame .cdm,
.hl {
	position: relative;
}
.cdm.expanded.active,
.cdm.expandable.active {
	z-index: 1;
	border-color: #ccc;
}
.cdm .title,
.hlContent  {
	font-size: 13px;
	font-weight: bold;
}
.cdm .cdmExcerpt,
.cdm.expandable .author,
.hlContent .contentPreview {
	font-size: 11px;
	font-weight: normal;
}
#floatingTitle,
.cdm .title,
.cdm .cdmHeader,
.hl .hlContent a,
.hl .hlUpdated,
.hl.Unread .hlContent .contentPreview {
	color: #999;
}
#floatingTitle.Unread .title,
.cdm.Unread .title,
.hl.Unread .hlContent a,
.postHeader .postTitle a {
	color: #444;
}
.cdm .title,
.hlContent a {
	text-decoration: none;
}
#floatingTitle img,
#floatingTitle input,
.cdmHeader img,
.cdmHeader input,
.cdmFooter img,
.hl img,
.hl input,
.postTags img {
	vertical-align: middle;
	margin: 0 0 0 5px;
}
#floatingTitle > div,
#floatingTitle .updated,
.cdmHeader > div,
.cdmHeader .updated,
.hlLeft,
.hlUpdated,
.hlRight,
.author {
	white-space: nowrap;
}
#floatingTitle .titleWrap,
.cdmHeader .titleWrap,
.hlTitle {
	width: 100%;
	line-height: 14px;
}
#floatingTitle .updated,
.cdmHeader .updated,
.cdmHeader .hlFeed,
.hlUpdated {
	font-size: 11px;
}
.cdmHeader .hlFeed a {
	display: inline-block;
	margin-top: 1px;
	padding: 1px 6px 0;
	border: 1px solid rgba(0,0,0,.03);
	border-radius: 99px;
	background: rgba(0,0,0,.1);
	color: #444;
	line-height: 1;
}
.cdmContentInner {
	padding: 10px 34px;
}
.postHeader,
.postContent {
	padding: 10px 30px;
}
.postHeader {
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	font-size: 11px;
	color: #999;
}
.postHeader:after {
	content: " ";
	display: table;
	clear: both;
}
.postHeader .postTitle {
	margin-bottom: 3px;
	line-height: 16px;
}
.postHeader .postTags {
	margin-top: -1px;
}
.postHeader .postDate {
	float: right;
	padding: 1px 0;
	white-space: nowrap;
}
.postTags > * {
	vertical-align: middle;
	margin: 0 1px;
}
.collapseBtn {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 27px;
	line-height: 1;
	background: #fff;
	transition: all .5s;
}
.collapseBtn img {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: .001;
}
.collapseBtn:before {
	content: "Collapse article";
	position: absolute;
	top: 8px;
	right: 35px;
	font-size: 11px;
	color: #fff;
	transition: all .5s;
}
.collapseBtn:hover:before {
	color: #999;
}
.collapseBtn:after {
	content: "";
	position: absolute;
	top: 6px;
	right: 9px;
	width: 16px;
	height: 16px;
	background: transparent url("feedly/icons.png") -16px -16px no-repeat;
	background-size: 176px 32px;
	opacity: .3;
	transition: opacity .2s;
}
.collapseBtn:hover:after {
	opacity: .7;
}

/* article content */
.cdmContentInner,
.postContent {
	clear: both;
	overflow: auto;
	font-size: 14px;
	line-height: 1.7;
}
.cdmContentInner :not("article") h1,
.postContent :not("article") h1 {
	font-size: 24px;
}
.cdmContentInner h1,
.postContent h1,
.cdmContentInner h2,
.postContent h2,
.cdmContentInner h3,
.postContent h3,
.cdmContentInner h4,
.postContent h4,
.cdmContentInner h5,
.postContent h5,
.cdmContentInner h6,
.postContent h6 {
	margin-top: 35px;
	margin-bottom: 14px;
	font-family: SansCn;
	font-weight: bold;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.cdmContentInner p,
.postContent p {
	max-width: 45em;
}
.cdmContentInner table,
.postContent table {
	border-collapse: collapse;
}
.cdmContentInner tr,
.postContent tr {
	vertical-align: top;
}
.cdmContentInner th,
.postContent th,
.cdmContentInner td,
.postContent td {
	border: 1px solid #ddd;
	padding: 0 .31em;
}
.cdmContentInner th,
.postContent th {
	background: #eee;
}
.cdmContentInner hr,
.postContent hr {
	border: none;
	border-top: 1px solid #ddd;
}
.cdmContentInner iframe,
.postContent iframe {
	margin: .5em 0;
}
.cdmContentInner img,
.postContent img {
	max-width: 100%;
	width: auto;
	height: auto;
	margin: .5em 1em .5em 0;
}
.cdmContentInner figure,
.postContent figure {
	margin: 1em 0;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
}
.cdmContentInner pre,
.postContent pre {
	white-space: pre-wrap;
	font-size: 12px;
	line-height: 14px;
	padding: 1em;
	background: #f5f5f5;
}
.cdmContentInner code,
.postContent code {
	margin: 0 -.16em;
	padding: 0 .16em;
	background: rgba(0,0,0,.066);
	color: #222;
}
.cdmContentInner pre code,
.postContent pre code {
	background: inherit;
	color: inherit;
}
.cdmContentInner q,
.postContent q,
.cdmContentInner blockquote,
.postContent blockquote {
	display: block;
	margin: 1em 0;
	padding: .31em 1em;
	border-left: 4px solid rgba(0,0,0,.166);
	background: rgba(0,0,0,.033);
}

/* extras */
#cmdline {
	position: absolute;
	z-index: 5;
	bottom: 5px;
	left: 5px;
	padding: 1px;
	width: 18px;
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.cdmFeedTitle {
	padding: 56px 0 28px;
	color: #aaa;
}
.cdmFeedTitle:first-child {
	padding-top: 14px;
}
.cdmFeedTitle > div:first-child{
	float: none !important;
	display: inline-block;
	padding: 0 12px 0 7px;
}
.cdmFeedTitle .title {
	font: normal normal bold 18px/24px SansCn;
	padding-right: 7px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.cdmFeedTitle .title,
.cdmFeedTitle a {
	color: #aaa;
}
.whiteBox {
	text-align: center;
	padding: 1em;
}
.insensitive {
	color: #aaa;
}
.highlight {
	position: relative;
	margin: -.1em -.2em;
	padding: .1em .2em;
	border-radius: .2em;
	background: rgba(255,204,0,.5);
	color: #b80;
}
#feeds-holder,
#headlines-frame,
#content-insert {
	-webkit-overflow-scrolling: touch;
}

/* icons */
#ttrssMain img[src*='images/tag.png'],
#ttrssMain img[src*='images/fresh.png'],
#ttrssMain img[src*='images/mark_set'],
#ttrssMain img[src*='images/mark_unset'],
#ttrssMain img[src*='images/pub_set'],
#ttrssMain img[src*='images/pub_unset'],
#ttrssMain img[src*='images/archive.png'],
#ttrssMain img[src*='images/recently_read.png'],
.hlScorePic,
/* new icons: */
#ttrssMain img[src*='images/folder.png'],
#ttrssMain img[src*='images/star.png'],
#ttrssMain img[src*='images/feed.png'],
#ttrssMain img[src*='images/time.png'],
#header-wrap .dijitCheckBox,
#floatingTitle .anchor {
	padding-top: 16px;
	width: 16px;
	height: 0;
	background: transparent url("feedly/icons.png") -160px 0 no-repeat;
	background-size: 176px 32px;
	opacity: .2;
	transition: opacity .2s;
}
#header-wrap .dijitCheckBox {
	padding-top: 0;
	height: 16px;
}
#header-wrap .dijitCheckBox input {
	cursor: pointer;
}
#ttrssMain img[src*='images/tag.png'],
#ttrssMain img[src*='images/folder.png'] {
	background-position: -32px 0;
}
#ttrssMain img[src*='images/fresh.png'] {
	background-position: -48px 0;
}
#ttrssMain img[src*='images/mark_set'],
#ttrssMain img[src*='images/mark_unset'],
#ttrssMain img[src*='images/star.png'] {
	background-position: -64px 0;
}
#ttrssMain img[src*='images/pub_set'],
#ttrssMain img[src*='images/pub_unset'],
#ttrssMain img[src*='images/feed.png'] {
	background-position: -80px 0;
}
#ttrssMain img[src*='images/archive.png'] {
	background-position: -96px 0;
}
#ttrssMain img[src*='images/recently_read.png'],
#ttrssMain img[src*='images/time.png'] {
	background-position: -112px 0;
}
#headlines-toolbar img[src*='images/pub_set'] {
	background-position: -128px 0;
	opacity: .7;
}
#header-wrap img[src*='images/tag.png'] {
	background-position: -144px 0;
}
.hlScorePic[src*='score_neutral'] {
	background-position: -32px -16px;
}
.hlScorePic[src*='score_half_high'] {
	background-position: -48px -16px;
}
.hlScorePic[src*='score_high'] {
	background-position: -64px -16px;
}
.hlScorePic[src*='score_half_low'] {
	background-position: -80px -16px;
}
.hlScorePic[src*='score_low'] {
	background-position: -96px -16px;
}
#floatingTitle .anchor {
	background-position: -112px -16px;
}
#header-wrap img[src*='images/mark_unset']:hover,
#header-wrap img[src*='images/pub_unset']:hover,
#header-wrap .dijitCheckBox:hover,
#floatingTitle .anchor:hover {
	opacity: .35;

}
#header-wrap img[src*='images/mark_set'],
#header-wrap img[src*='images/pub_set'],
#header-wrap .dijitCheckBox.dijitCheckBoxChecked,
.hlScorePic {
	opacity: .7;
}
.hlScorePic:hover {
	opacity: 1;
	cursor: pointer;
}

/* plugin: article toolbar small */
.actionChooser .button_nav,
.actionChooser .button_nav:hover {
	border: none;
	padding: 0;
	background: transparent !important;
	opacity: 1;
	vertical-align: middle;
	cursor: pointer;
}

/* plugin: shorten expanded */
.cdmContentInner .expandPrompt {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 0 6px;
	width: 100%;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	font-weight: bold;
	background: #eee;
	color: #666;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	cursor: pointer;
	transition: all .2s;
}
.cdmContentInner .expandPrompt:hover {
	background: #e5e5e5;
	color: #222;
	border-color: #ccc;
}
.cdmContentInner .expandPrompt:active {
	background: #ddd;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	transition: none;
}
.cdmContentInner > .contentSizeWrapper {
	height: auto;
	height: 600px;
	border-bottom: 1px solid #ddd;
}


/* PREFERENCES ************************************************************/

/* from prefs.css */

/* @24 */
#pref-filter-wrap, #pref-filter-header, #pref-filter-content,
#pref-label-wrap, #pref-label-header, #pref-label-content,
#pref-user-wrap, #pref-user-header, #pref-user-content,
#pref-instance-wrap, #pref-instance-header, #pref-instance-content {
	margin : 0;
	padding : 0;
	border-width : 0;
}

#userConfigTab, #labelConfigTab, #filterConfigTab, #pref-feeds-feeds, #instanceConfigTab {
	padding : 0;
}

/* @51 */
div.prefProfileHolder, div.prefFeedOPMLHolder, div.inactiveFeedHolder {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}
div.filterTestHolder, div.prefFeedOPMLHolder {
	border-width : 1px;
}

ul.selfUpdateList, ul.userFeedList {
	height : 200px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
	border-radius : 4px;
}

div#feedlistLoading, div#filterlistLoading, div#labellistLoading {
	text-align : center;
	padding : 5px;
	color : #555;
}

div#feedlistLoading img, div#filterlistLoading img, div#labellistLoading {
	margin-right : 5px;
}

/* 97 */
table.prefPluginsList td label, table.prefUserList td {
	cursor : pointer;
}

table.prefPluginsList label {
	white-space : nowrap;
}

table.prefPluginsList label img {
	vertical-align : middle;
}

table.prefErrorLog tr.errrow td {
	font-size : 10px;
}

table.prefErrorLog tr.errrow td.errno {
	font-style : italic;
	font-weight : bold;
	white-space : nowrap;
}

table.prefErrorLog td.filename, table.prefErrorLog td.login, table.prefErrorLog td.timestamp {
	color : #555;
}

.dijitAccordionContainer-child {
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.2);
}


/* layout */

#ttrssPrefs #header {
	position: relative;
	z-index: 1;
	float: right;
	padding: 12px 10px 0;
}
#ttrssPrefs #pref-tabs {
	padding: 5px 10px 0;
}
#ttrssPrefs #footer {
	padding: 0 10px 5px;
	text-align: center;
	background: #eee;
}

#dijit_layout_AccordionPane_1_wrapper .dijitAccordionContainer-child {
	padding: 0;
}

/* content */

#ttrssPrefs h1,
#ttrssPrefs h2,
#ttrssPrefs h3,
#ttrssPrefs h4,
#ttrssPrefs h5,
#ttrssPrefs h6 {
	margin-top: 12px;
	margin-bottom: 3px;
}
#ttrssPrefs .feedParam,
#ttrssPrefs .labelParam,
#ttrssPrefs .prefHelp {
	font-size: 11px;
	color: #999;
}
#ttrssPrefs .feedParam,
#ttrssPrefs .labelParam {
	float: right;
	margin-right: 1em;
}
#ttrssPrefs .labelParam.disabled {
	color: #aaa;
}
#ttrssPrefs a.bookmarklet {
	position: relative;
	display: inline-block;
	margin: 10px 50px 25px;
	padding: 2px 15px 2px 10px;
	border: 1px solid #ddd;
	background: #eee;
	color: #222;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	cursor: move;
	-webkit-user-drag: element;
}
#ttrssPrefs a.bookmarklet:after {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	border: 4px solid #fff;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}
